<%- include('./partials/header.ejs') %>

<section id="404">
    <div class="container mx-auto flex flex-row items-center justify-center space-y-12 mt-20">
        <div class="max-w-md md:w-1/2">
            <img src="img/icon-error-new.svg">
        </div>

        <div class="max-w-sm mx-20">
            <h2 class="text-5xl">404</h2>
            <p class="text-3xl font-light max-w-md">Sorry, we can't seem to find the page you are looking for.</p>
            <br>
            <a href="/" class="mt-5 p-3 px-6 pt-2 text-white bg-darkGreen rounded-md baseline font-semibold hover:bg-armyGreen">
                TEC HOME
            </a>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>