<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="icon/css/all.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>TEC | <%=title%></title>
</head>
<body>

    <section id="application" class="flex flex-row justify-evenly w-full h-full">
        <div class="hidden container md:flex flex-col items-center space-y-20 z-30 w-auto h-full fixed bg-slate-50 left-0">
            <div class="px-10">
                <div class="flex flex-col items-center justify-center space-y-12 mx-auto p-5">
                    <span class="logo flex flex-col items-center">
                        <img src="img/logo.png" alt="logo" class="w-[80px]">
                        <h4 class="font-semibold">TPAPY Educational Consults</h4>
                    </span>
                </div>
                <div class="mx-auto pt-10">
                    <ul class="mt-10 p-5 space-y-10">
                        <li class="flex flex-row items-center">
                            <span class="flex justify-center items-center relative p-[5px] border-darkGreen-50 border-2 border-solid rounded-full w-10 h-10">
                                <!--<i class="fa fa-check text-white"></i>-->
                                <p class="font-bold">1</p>
                            </span>
                            &nbsp; &nbsp;
                            <h5 class="font-bold text-sm text-gray-700">
                                PERSONAL DATA
                            </h5>
                        </li>
    
                        <li class="flex flex-row items-center">
                            <span class="flex justify-center items-center relative p-[5px] border-darkGreen-50 border-2 border-solid rounded-full w-10 h-10">
                                <!--<i class="fa fa-check text-white"></i>-->
                                <p class="font-bold">2</p>
                            </span>
                            &nbsp; &nbsp;
                            <h5 class="font-bold text-sm text-gray-700">
                                ACADEMIC QUALIFICATION
                            </h5>
                        </li>
    
                        <li class="flex flex-row items-center">
                            <span class="flex justify-center items-center relative p-[5px] border-darkGreen-50 border-2 border-solid rounded-full w-10 h-10">
                                <!--<i class="fa fa-check text-white"></i>-->
                                <p class="font-bold">3</p>
                            </span>
                            &nbsp; &nbsp;
                            <h5 class="font-bold text-sm text-gray-700">
                                STUDY INFORMATION
                            </h5>
                        </li>
                    </ul>
                </div>

                <div class="mt-20">
                    <img src="/img/rafiki.svg" alt="" class="w-[300px]">
                </div>
            </div>            
        </div>

        <div class="container mx-auto md:max-w-6xl mt-5 px-10 text-center md:text-left md:mt-40 md:pl-56 lg:pl-96 lg:ml-96 md:pr-10 md:ml-60">
            <div id="applyBody" class="space-y-2">
                <div class="md:hidden flex flex-col items-center justify-center space-y-12 mx-auto p-5">
                    <span class="logo flex flex-col items-center">
                        <img src="img/logo.png" alt="logo" class="w-[80px]">
                        <h4 class="font-semibold">TPAPY Educational Consults</h4>
                    </span>
                </div>

                <h2 class="font-bold text-3xl lg:text-4xl">
                    Admission Requirements
                </h2>
                <p class="text-sm font-light italic">
                    To be considered for admission to any degree program, the following basic requirements need to be met.
                </p>
                    
                <ul class="pt-5 space-y-2 list-decimal  text-left">
                    <h4 class="font-semibold">
                        Diploma Requirements
                    </h4>
                    
                    <li>International Passport/ID Card (if available)</li>
                </ul>
                    
                <ul class="pt-5 space-y-2 list-decimal text-left">
                    <h4 class="font-semibold">
                        Undergraduate Requirements
                    </h4>
                    
                    <li>O'level (SSCE, GCE, NABTEB, BAC etc)</i></li>
                    <li>Passport Photograph</li>
                    <li>Birth Certificate</li>
                    <li>International Passport/ID Card (if available)</li>
                    <li><b>For Direct Entry: </b> Transcripts (if available).</li>
                </ul>
                    
                <ul class="pt-5 space-y-2 list-decimal text-left">
                    <h4 class="font-semibold">
                        Graduate Requirements
                    </h4>
                    
                    <li>International Passport/ID Card (if available)</li>
                    <li>Transcripts of Antecedent of Undergraduate Studies</i></li>
                    <li>Certificate/Testimonials of Antecedent Undergraduate Studies</li>
                </ul>
                <br>

                <button class="bg-beige items-center text-white rounded-sm px-6 py-2  mt-5 p-3 font-bold text-sm md:float-right">NEXT</button>
            </div>
        </div>
    </section>


</body>
<script src="icon/js/all.js"></script>
<script src="js/apply.js"></script>
</html>