<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="icon/css/all.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>TEC | <%=title%></title>
</head>

<body class="bg-white">
<div id='alert' class="alert bg-redNotice">
    
</div>
    <section id="apply" class="">
      <div class="container mx-auto w-[100vw] h-[100vh]">
        <div class="relative top-24 md:top-24 mb-5 pl-10">
          <a href="/">
            <i class="fa fa-arrow-left"></i> Back to Home
          </a>
        </div>
        <form action="/apply" method="post" id="application_form" class="relative top-24 md:top-28 flex justify-center">

          <!-- Form 1 -->
          <div id="personal" class="flex flex-col space-y-5">
            <h2 class="font-bold text-3xl mb-5">Personal Information</h2>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="passport" class="block text-sm font-medium"> Passport Photograph </label>
              <input
                type="file"
                name="pasport"
                placeholder="First Middle & Last Name"
                class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                required
              />
            </div>

            <div class="flex flex-col space-y-2 items-start ">
                <label for="name" class="block text-sm font-medium"> Your Fullname </label>
                <input
                  type="text"
                  name="name"
                  placeholder="First Middle & Last Name"
                  class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  required
                />
            </div>

            <div class="flex flex-row items-center space-x-2 space-y-0">
              <div class="space-y-2">
                <label for="date_of_birth" class="block text-sm font-medium"> Date of Birth </label>
                <input
                  type="date"
                  name="date_of_birth"
                  class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  required
                />
              </div>
              <div class="space-y-2">
                <label for="state_of_origin" class="block text-sm font-medium">Gender</label>
                <select name='gender' class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen">
                  <option>Your Gender</option>
                  <option value='Male'>Male</option>
                  <option value='Female'>Female</option>
                </select>
              </div>
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="nationality" class="block text-sm font-medium"> Your Nationality </label>
              <input
                type="text"
                name="date_of_birth"
                class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                placeholder="Nationality"
              />
            </div>

            <div class="flex flex-row items-center space-x-2 space-y-0">
              <div class="space-y-2">
                <label for="place_of_birth" class="block text-sm font-medium">Place of Birth</label>
                <input
                  type="text"
                  name="place_of_birth"
                  class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  placeholder="Place of Birth"
                />
              </div>
              <div class="space-y-2">
                <label for="state_of_origin" class="block text-sm font-medium">State of Origin</label>
                <input
                  type="text"
                  name="state_of_origin"
                  class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  placeholder="State of Origin"
                />
              </div>
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="home_address" class="block text-sm font-medium"> Home Address </label>
              <input
                type="text"
                name="home_address"
                class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                placeholder="Home Address"
              />
            </div>

            <div class="flex flex-row items-center space-x-2 space-y-0">
              <div class="space-y-2">
                <label for="email" class="block text-sm font-medium"> Email Address </label>
                <input
                  type="email"
                  name="email"
                  class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  placeholder="Email Address"
                />
              </div>
              <div class="space-y-2">
                <label for="phone_num" class="block text-sm font-medium"> Phone Number </label>
                <input
                  type="text"
                  name="phone_num"
                  class="w-[39vw] md:w-[197px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                  placeholder="Phone Number"
                />
              </div>
            </div>
            <hr>
            <div class="bg-armyGreen cursor-pointer text-white py-3 text-center rounded-md" id="personFw">
              Academic Details
            </div>

          </div>

          <!-- Form 2 -->

          <div id="academic" class="hidden flex-col space-y-5">
            <h2 class="font-bold text-3xl mb-5">Academic Qualification</h2>

            <div id="oLevel" class="flex flex-col space-y-2 items-start ">
                <label for="o_level" class="block text-sm font-medium"> O'Level Certificate </label>
                <input
                  type="file"
                  name="o_level"
                  class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
                />
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <div class="cursor-pointer w-[80vw] md:w-[400px] bg-armyGreen text-white flex items-center justify-between rounded-md py-4 px-8" id="addInput">
                <i class="fa fa-graduation-cap fa-2x"></i>
                <span>
                    <h5 class="font-semibold text-sm">Add Another O'Level Result</h5>
                    <p class="mt-1 font-semibold text-[12px]">Merge two O'Level results together</p>
                </span>
                <i class="fa fa-plus-circle fa-1x"></i>
              </div>
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="trasncript" class="block text-sm font-medium"> Transcript of Academic Record (if available) </label>
              <input
                type="file"
                name="transcript"
                class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
              />
            </div>

            <hr>

            <div class="flex flex-row items-center space-x-2 space-y-0">
              <div id='personBk' class="bg-armyGreen cursor-pointer text-white py-3 text-center rounded-md w-[39vw] md:w-[197px]">
                Personal Info.
              </div>

              <div id="academicFw" class="bg-armyGreen cursor-pointer text-white py-3 text-center rounded-md w-[39vw] md:w-[197px]"">
                Study Info.
              </div>
            </div>
          </div>

          <!-- Form 3 -->

          <div id="study" class="hidden flex-col space-y-5">
            <h2 class="font-bold text-3xl mb-5">Study Information</h2>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="degree_type" class="block text-sm font-medium">Degree Type</label>
                <select name='degree_type' class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen">
                  <option>Degree Type</option>
                  <option value='Diploma'>Diploma</option>
                  <option value='Bachelors'>Bachelors</option>
                  <option value='Post Graduate Diploma'>Post Graduate Diploma</option>
                  <option value='Masters'>Masters</option>
                </select>
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="course" class="block text-sm font-medium"> Course </label>
              <input
                type='text'
                placeholder='Course of Study'
                name='course'
                list = 'courseList'
                class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen"
              />
              <datalist id='courseList'>
                <option value='ACCOUNTING'>ACCOUNTING</option>
                <option value='AGRICULTURAL ECONOMICS'>AGRICULTURAL ECONOMICS</option>
                <option value='BANKING AND FINANCE'>BANKING AND FINANCE</option>
                <option value='BUSINESS ADMINISTRATION'>BUSINESS ADMINISTRATION</option>
                <option value='COMPUTER SCIENCE'>COMPUTER SCIENCE</option>
                <option value='COMPUTER ENGINEERING'>COMPUTER ENGINEERING</option>
                <option value='ECONOMICS'>ECONOMICS</option>
                <option value='ENVIRONMENTAL SCIENCE'>ENVIRONMENTAL SCIENCE</option>
                <option value='HEALTH INFORMATION MANAGEMENT'>HEALTH INFORMATION MANAGEMENT</option>
                <option value='HOTEL MANAGEMENT'>HOTEL MANAGEMENT</option>
                <option value='HUMAN RESOURCE MANAGEMENT'>HUMAN RESOURCE MANAGEMENT</option>
                <option value='INFORMATION COMMUNICATION TECHNOLOGY'>INFORMATION COMMUNICATION TECHNOLOGY</option>
                <option value='INSURANCE AND RISK MANAGEMENT'>INSURANCE AND RISK MANAGEMENT</option>
                <option value='INTERNATIONAL RELATIONS'>INTERNATIONAL RELATIONS</option>
                <option value='LAW'>LAW</option>
                <option value='LINGUISTICS (English)'>LINGUISTICS (English)</option>
                <option value='LINGUISTICS (French)'>LINGUISTICS (French)</option>
                <option value='MASS COMMUNICATION'>MASS COMMUNICATION</option>
                <option value='MANAGEMENT INFORMATION TECHNOLOGY'>MANAGEMENT INFORMATION TECHNOLOGY</option>
                <option value='MARKETING'>MARKETING</option>
                <option value='MICROBIOLOGY'>MICROBIOLOGY</option>
                <option value='NURSING'>NURSING</option>
                <option value='PHARMACY'>PHARMACY</option>
                <option value='PHILOSOPHY'>PHILOSOPHY</option>
                <option value='POLITICAL SCIENCE'>POLITICAL SCIENCE</option>
                <option value='PSYCHOLOGY'>PSYCHOLOGY</option>
                <option value='SAFETY AND DISASTER MANAGEMENT'>SAFETY AND DISASTER MANAGEMENT</option>
                <option value='SAFETY AND HEALTH MANAGEMENT'>SAFETY AND HEALTH MANAGEMENT</option>
                <option value='SAFETY AND RISK MANAGEMENT'>SAFETY AND RISK MANAGEMENT</option>
                <option value='SOCIOLOGY'>SOCIOLOGY</option>
                <option value='TOURISM'>TOURISM</option>
                <option value='TOURISM AND HOTEL MANAGEMENT'>TOURISM AND HOTEL MANAGEMENT</option>
                <option value='TRANSPORT AND LOGISTICS MANAGEMENT'>TRANSPORT AND LOGISTICS MANAGEMENT</option>
              </datalist>
            </div>

            <div class="flex flex-col space-y-2 items-start ">
              <label for="state_option" class="block text-sm font-medium">Mode of Study</label>
                <select name='mode_of_study' class="w-[80vw] md:w-[400px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen">
                  <option>Mode of Study</option>
                  <option value='Fulltime'>Fulltime</option>
                  <option value='Part time'>Part time</option>
                </select>
            </div>

            <hr>

            <div class="flex flex-row items-center space-x-2 space-y-0">
              <div class="bg-armyGreen cursor-pointer text-white py-3 text-center rounded-md w-[39vw] md:w-[197px]" id="studyBk">
                Academic Details
              </div>

              <button type="submit" class="bg-armyGreen cursor-pointer text-white py-3 text-center rounded-md w-[39vw] md:w-[197px]">
                Submit
              </button>
            </div>
          </div>

        </form>
      </div>
    </section>


</body>

<script src="icon/js/all.js"></script>
<script src="js/apply.js"></script>
<script src="js/script.js"></script>
</html>

<!--

  <div class="flex flex-col items-center">
              <span class="flex items-center w-[80vw] md:w-[150px] md:h-[180px] px-4 py-3 text-sm border border-armyGreen rounded-md focus:outline-none focus:ring-1 focus:ring-armyGreen cursor-pointer">
                <label for="name" class="flex relative text-center cursor-pointer"> Passport Photograph </label>
                <input
                  type="file"
                  name="name"
                  class=" cursor-pointer absolute opacity-0 w-[80vw] md:w-[150px] md:h-[180px]"
                />
              </span>
            </div>


-->
