<%- include('./partials/header.ejs') %>
 
<section id="programs">
    <div class="container mt-20 mx-auto">
        <div>
            <h2>OUR PROGRAMS</h2>
        </div>
        <div>
            <span>
                <a href="/vocational">Vocational Studies</a>
            </span>
            <span>
                <a href="/undergraduate">Undergraduate</a>
            </span>
            <span>
                <a href="/Graduate">Graduate</a>
            </span>
            <span>
                <a href="/postgraduate">PostGraduate</a>
            </span>
        </div>
    </div>

</section>

<%- include('./partials/footer.ejs') %>